<div class=" d-none d-lg-block container-sm-fluid container-lg justify-content-center mt-3" id="eventosdasemana">
<!--    <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
        <div class="card-body " style="background-color:#2d2a2a">
            <h2 class="card-title text-center text-white " style="font-family: 'Chau Philomene One'">Eventos da
                Semana</h2>
            <div class="d-flex justify-content-center mt-3 ">
<!--                <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
                    <div class="card-body " style="background-color:#1e1e1d">

                        {% include 'partials/_carrocel4.html' %}
                    </div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
</div>

<div class="d-lg-none" id="eventosdasemana">
<!--    <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
        <div class="card-body " style="background-color:#2d2a2a">
            <h2 class="card-title text-center text-white " style="font-family: 'Chau Philomene One'">Eventos da
                Semana</h2>
            <div class="d-flex justify-content-center mt-3 ">
<!--                <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
                    <div class="card-body " style="background-color:#1e1e1d">

                        {% include 'partials/_carrocel4.html' %}
                    </div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
</div>