<div class="container-sm-fluid container-lg justify-content-center mt-3" id="localizacao">
<!--    <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
        <div class="card-body " style=" background-color:#2d2a2a">
            <h2 class="card-title text-center text-white " style="font-family: 'Chau Philomene One'">Localização</h2>
<!--            <div class="d-flex justify-content-center mt-3 pl-5">-->
<!--                <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
                    <div class="card-body  justify-content-center  " style="background-color:#1e1e1d">
                        <div class="d-flex justify-content-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d458.3996490391959!2d-45.88703343681722!3d-23.19948319999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a6a2ca92ba5%3A0x268f4cfd7ff7fbfb!2sHocus%20Pocus%20Studio%20%26%20Caf%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1663251568941!5m2!1spt-BR!2sbr"
                                    width="780" height="550" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
