{% load static %}

<!--CELULAR-->
<a class="  d-lg-none" href="{% url 'home' %}"><img src="{% static 'LogoHocusHorizontal01.png' %}"
                                                                     class="img-fluid " width="800"></a>


<!-- TELAS MAIORES-->
<div class="container d-none d-lg-block align-items-center my-3">
    <div class="row ">
        <div class="col-8">
            <a class="navbar-brand pl-5" href="{% url 'home' %}"><img src="{% static 'LogoHocusHorizontal01.png' %}"
                                                                      class="img-fluid " width="800"></a>
        </div>
        <div class="col justify-content-center">
            <div class="card  float-right " style="width: 16rem; background-color:#000000">

                {% if user.is_authenticated %}
                <div class="card-body " style="background-color:#000000">
                    <h6 class="card-title text-center text-white mt3"> Ola {{ user.username }}! </h6>

                    <a class="nav-link btn  btn-danger mt-2" href="{% url 'logout' %}">Logout</a>
                    <a class="nav-link btn  btn-danger mt-2"
                       href="{% url 'dashboard' %}">Meus Eventos</a>

                    {% if request.user.is_staff %}

                    <a class="nav-link btn btn-danger mt-2" href="{% url 'listaevento' %}">ListaEventos</a>
                    {% endif %}


                </div>

                {% else %}
                <div class="card-body " style="background-color:#000000">
                    <div class="contact-form-area">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <h6 class="card-title text-center text-white">Area do Cliente</h6>

                            <div class="row  align-items-center mb-1">
                                <div class="col-2">
                                    <i class=" text-white fa fa-user fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm">
                                    <input type="text" id="email" class="form-control" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center">
                                <div class="col-2">
                                    <i class="text-white fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm">
                                    <input id="senha" type="password" class="form-control" name="senha"
                                           placeholder="Senha" required>
                                </div>
                            </div>
                            <div class="row justify-content-center ">
                                <button class=" btn btn-danger my-2" type="submit">Login</button>
                                <br>
                                <a class="text-center text-warning h6" href="{% url 'cadastro' %}">Ainda não tem
                                    cadastro?<br> Clique aqui!</a>
                                <a class="text-warning " href="{% url 'password_reset' %}"> Esqueceu sua senha?</a>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--        CELULAR          -->

{% if user.is_authenticated %}

<nav class=" navbar-expand-lg navbar-dark   " style="background-color:#000000">
    <div class="container  d-lg-none  ">
<!--        <div class="row  align-self-center text-center justify-content-center">-->

                <h5 class="text-white align-self-center text-center col-12 my-2"> Ola {{ user.username }}! </h5>
<!--                <div class="row border align-self-center  text-center justify-content-center">-->
                    <div class="text-center align-self-center m-2">

<!--                <a class="btn  btn-danger btn-lg align-self-center " href="{% url 'index' %}">Home</a>-->

                <a class="btn  btn-danger btn-lg align-self-center  " href="{% url 'logout' %}">Logout</a>

                <a class="btn  btn-danger btn-lg align-self-center " href="{% url 'dashboard' %}">Meus eventos</a>

                {% if request.user.is_staff %}
                <a class=" btn btn-danger btn-lg align-self-center " href="{% url 'listaevento' %}">Lista</a>


                {% endif %}

<!--                    <div class="row">-->
                         <button class=" col-12 navbar-toggler " type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class=" navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
   <nav class="navbar navbar-expand-lg navbar-dark   " style="background-color:#000000">
        <div class="container justify-content-center d-lg-none ">


                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-inline mt-3">
<!--                        <div class="row ">-->
                            <label for="email" class=" text-white fa fa-user fa-2x " aria-hidden="true"></label>
                            <div class="col-5">
                                <input type="text" id="email" class="form-control  " name="email" placeholder="Email">
                            </div>

                            <label for="senha" class=" ml-auto text-white fa fa-unlock-alt fa-2x" aria-hidden="true"></label>
                            <div class="col-5">
                                <input id="senha" type="password" class="form-control" name="senha" placeholder="Senha">
                            </div>

<!--                        </div>-->
                    </div>

                    <div class="container mt-2 col-12 justify-content-center">
<!--                        <div class="col-3"></div>-->
                        <div class="  d-inline  align-items-center justify-content-center  ">
                            <button class=" m-1 d-inline  btn btn-danger" type="submit">Login</button>

<!--                        </div>-->

                            <div class="d-inline  align-items-center text-center ">
                                <button type="button" class=" d-inline btn btn-danger" onclick="exibirCriarConta()">Cadastro</button>
                                <br>
                                <a class="text-warning m-1" href="{% url 'password_reset' %}"> Esqueceu sua senha?</a>
                            </div>
                        </div>
                    </div>
                </form>
                            <div class="  container col-12 align-items-center  ">
                            <button class="navbar-toggler col-12 " type="button" data-toggle="collapse"
                                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                    aria-label="Toggle navigation" style="background-color: #1e1e1d">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>



        </div>
        {% endif %}
        <div class="container ">

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item  ">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="/"><h4><u>HOME</u></h4></a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="{% url 'hocus' %}"><h4><u>CONHEÇA A HOCUS POCUS</u></h4><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="{% url 'home' %}#eventosdasemana"><h4><u>EVENTOS DA SEMANA</u></h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="{% url 'home' %}#eventosdomes"><h4><u>EVENTOS DO MES</u></h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="{% url 'home' %}#localizacao"><h4><u>LOCALIZAÇÃO</u>
                        </h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-family: 'Chau Philomene One'" href="{% url 'home' %}#contatos"><h4><u>CONTATO</u></h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    {% include 'partials/_alertas.html' %}
</nav>