{% extends 'base2.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="d-flex justify-content-center mt-3 pl-5" id="eventosdasemana">
    <div class="card bg-dark float-right mr-5" style="width: 60rem;">
        <div class="card-body " style="background-color:#2d2a2a">
            <div class="d-flex justify-content-center mt-3 ">
                <div class="card-body " style="background-color:#1e1e1d">

                    <div class="container text-white p-5">
                        <h2 class="font-weight-bold mt-3">Confirmação do reset da senha</h2>
                        <hr>
                        <p>Por favor entre com sua nova senha.</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit">Resetar senha</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

                    {% endblock %}