{% extends 'base2.html' %}


{% block content %}

<!--Password reset sent-->
<div class="d-flex justify-content-center mt-3 pl-5" id="eventosdasemana">
    <div class="card bg-dark float-right mr-5" style="width: 60rem;">
        <div class="card-body " style="background-color:#2d2a2a">
            <div class="d-flex justify-content-center mt-3 ">
                <div class="card-body " style="background-color:#1e1e1d">

                    <div class="container text-white p-5">
                        <h2 class="font-weight-bold mt-3">Email para reset da nova senha enviado</h2>
                        <hr>
                        <p>Nos te enviamos um email com instruções para resetar sua senha.<br> Caso você não receba o
                            email, verifique se realmente tem uma cadastro com email da requisição de nova senha, tambem
                            cheque sua caixa de span.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}