{% extends 'base2.html' %}

{% block content %}

<!--Password Reset Complete-->
<div class="d-none d-lg-block">
    <div class="d-flex justify-content-center mt-3 pl-5" id="eventosdasemana">
        <div class="card bg-dark float-right mr-5" style="width: 60rem;">
            <div class="card-body " style="background-color:#2d2a2a">
                <div class="d-flex justify-content-center mt-3 ">
                    <div class="card-body " style="background-color:#1e1e1d">

                        <div class="container text-white p-5">
                            <h2 class="font-weight-bold mt-3">Reset da senha completo</h2>
                            <hr>
                            <p>Você já pode usar sua nova senha. Faça seu login normalmente com a nova senha.</p>
                            <a href="/login" class="btn btn-primary">Log in</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="d-lg-none">
    <div class="container-fluid justify-content-center " id="eventosdasemana">
<!--        <div class="card bg-dark float-right mr-5" style="width: 60rem;">-->
<!--            <div class="card-body " style="background-color:#2d2a2a">-->
<!--                <div class="d-flex justify-content-center mt-3 ">-->
<!--                    <div class="card-body " style="background-color:#1e1e1d">-->

                        <div class="container text-white p-2" style="background-color:#1e1e1d">
                            <h2 class="font-weight-bold mt-3">Reset da senha completo</h2>
                            <hr>
                            <p>Você já pode usar sua nova senha. Faça seu login normalmente com a nova senha.</p>
                            <a href="/login" class="btn btn-primary">Log in</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}