<!DOCTYPE html>
{% load static %}

<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Hocus</title>
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Chau Philomene One' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<style>
    html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  max-height: 30%;
  min-height: 15%;
  margin-bottom: 100px;
}

.footer,
.push {
  height: 0px;

}
</style>
<body style="background-color:#545454">


<!--margem para ancoraas e desliza devagar-->
<style>
            html {
  scroll-behavior: smooth;
}

</style>

{% include 'partials/_navbar.html' %}


{% block content %} {% endblock %}


{% include 'partials/_footer.html' %}

{% include 'partials/_whatsappfixo.html' %}
<script>
function exibirSenhaNova()
{
     location.href = "{% url 'password_reset' %}";
}

</script>


<script>
function exibirCriarConta()
{
     location.href = "{% url 'cadastro' %}";
}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>


</body>


</html>