{% extends 'base3.html' %}
{% load static %}

{% block content %}







{% include 'partials/_alertas.html' %}
<div class="container-fluid rounded  py-3 mt-2 " style="background-color:#2d2a2a">
    <div class="row  text-center ">
        <div class="col my-3">
            <h3 class="text-white"> Ola {{ user.username }} ! </h3>
            <h2 class="text-white" style="font-family: 'Chau Philomene One'">Lista de shows:</h2>
        </div>
    </div>

    <div class="container text-center " style="background-color:#1e1e1d">
        <div class="row w-100 my-2 ">

            {% if not eventos  %}

            <div class="container col-6 p-5">
            <h2 class="text-white  text-center">VOCE AINDA NAO ESTA CADASTRADO EM NENHUM EVENTO</h2>


            </div>

        </div>

            {% endif  %}

            {% for evento in eventos %}






<!--            IMAGEM DO INGRESSO-->
            <div class="col-lg-5 col-sm-11  w-100  m-4 " style="background-image:
                url(static/ticket.png); background-repeat: no-repeat;background-size: 100%;">
<!--      FIM IMAGEM DO INGRESSO-->
                <div class="container ">
                    <br class="d-none d-md-block d-lg-none ">
                    <div class="row">

                        <div class=" col-sm-2 d-none d-md-block d-lg-none"></div>
<!--                        IMAGEM QUADRADA-->
                        <div class="col-lg-6 col-sm-4 "></div>
                         {% if evento.lista_reserva.quadrado %}


                        <div class="d-none d-md-block d-lg-none" style='position:absolute; top:100px; left:140px;'>
                            <img src="{{ evento.lista_reserva.quadrado.url }}" class="img-fluid "
                                  style="float:rigth;width:150px;
                                 opacity: 0.6;
                                  -webkit-filter: grayscale(100%);
                                   filter: grayscale(100%);
                                     filter: gray; /* IE */; ">
                        </div>

                        <div class="d-none d-lg-block" style='position:absolute; top:70px; left:100px;'>
                            <img src="{{ evento.lista_reserva.quadrado.url }}" class="img-fluid "
                                 style="float:rigth;width:120px;
                                 opacity: 0.6;
                                  -webkit-filter: grayscale(100%);
                                   filter: grayscale(100%);
                                     filter: gray; /* IE */  ">
                        </div>
                        {% else %}
<!--                                CELULAR-->
                        <div class="d-none d-md-block d-lg-none " style='position:absolute; top:110px; left:140px; '>
                            <img src="{% static 'hocusticket.png' %}" class="img-fluid ">
                        </div>

                        <div class="d-none d-lg-block" style='position:absolute; top:65px; left:100px;'>
                            <img src="{% static 'hocusticket.png' %}" class="img-fluid " style="float:rigth;width:120px">
                        </div>
                        {% endif %}
<!--                     FIM IMAGEM QUADRADA-->
                        <div class="col-lg-6 col-sm-5 my-1 text-center ">
                            <br><br>
<!--                            DADOS DO SHO TITULO, DATA, HORARIO, VALOR -->

<!--                            tela PC-->
                            <div class="d-none d-lg-block">
                                <h3 class="text-danger" style="font-family: 'Chau Philomene One'">
                                {{ evento.lista_reserva.titulo_show }}</h3>
                                <h5 class=" mx-1" style="font-family: 'Chau Philomene One'">{{ evento.lista_reserva.data_do_show|date:"SHORT_DATE_FORMAT" }} | {{ evento.lista_reserva.horario_do_show }} <br> {{ evento.lista_reserva.data_do_show|date:"l" }}
                                </h5>{% if evento.lista_reserva.valor %}

                                <div class="text-danger h5 my-3" style="font-family: 'Chau Philomene One'"> R${{ evento.lista_reserva.valor }}</div>
                                {% else %}
                                <div style="margin-bottom: 60px"></div>
                                {% endif %}
                            </div>
<!--                            CELULAR-->

                            <div class="d-none d-md-block d-lg-none">
                                <h2 class="text-danger" style="font-family: 'Chau Philomene One'">
                                {{ evento.lista_reserva.titulo_show }}</h2>
                                <h4 class=" mx-1" style="font-family: 'Chau Philomene One'">{{ evento.lista_reserva.data_do_show|date:"SHORT_DATE_FORMAT" }} | {{ evento.lista_reserva.horario_do_show }} <br> {{ evento.lista_reserva.data_do_show|date:"l" }}
                                </h4>{% if evento.lista_reserva.valor %}

                                <div class="text-danger h4 my-3" style="font-family: 'Chau Philomene One'"> R${{ evento.lista_reserva.valor }}</div>
                                {% else %}
                                <div style="margin-bottom: 60px"></div>
                                {% endif %}
                            </div>

<!--                            FIM, DATA, HORARIO, VALOR -->
                            <br><br class="d-none d-md-block d-lg-none "><br
                                class="d-none d-md-block d-lg-none "><br class="d-none d-md-block d-lg-none ">
<!--                            Carimbo PAGO-->
                            {% if evento.pagamento %}
<!--                           tela grande -->
                            <div class="d-none d-lg-block" style='position:absolute; top:150px; left:130px;'>
                                <img src="{% static 'ico_pag.png' %}" class="img-fluid "
                                     style="float:rigth;width:60px">
                            </div>
                            <div class="d-none d-sm-block d-lg-none" style='position:absolute; top:150px; left:130px;'>
                                <img src="{% static 'ico_pag.png' %}" class="img-fluid "
                                     style="float:rigth;width:100px">
                            </div>
                            {% endif %}
<!--                         FIM Carimbo PAGO-->
                        </div>
                        <div class="col-1"></div>
                    </div>

                </div>
                <div class="d-flex justify-content-center">

                    {% if evento.lista_reserva.pix %}

                    {% if evento.comprovante %}
                    <!-- Button Modal -->
                    <button type="button" class="btn btn-danger m-4" data-toggle="modal"
                            data-target="#botao{{ evento.lista_reserva.id }}">
                        Confira seu comprovante
                    </button>
                    {% else %}

                    <!-- Button Modal -->
                    <button type="button" class="btn btn-danger m-4" data-toggle="modal"
                            data-target="#botao{{ evento.lista_reserva.id }}">
                        Pague com Pix
                    </button>
                    {% endif %}
                    {% endif %}
                </div>

            </div>


            {% endfor %}
        </div>

        {% for evento in eventos %}
        {% include 'partials/_modalcomprovante.html' %}


        <br>
    </div>

    {% endfor %}

</div>

{% endblock %}

