{% extends 'base2.html' %}
{% load static %}
{% block content %}


<div class="d-flex justify-content-center m-3 pl-5" id="eventos">
    <div class="card bg-dark float-right mr-5" style="width: 60rem;">
        <div class="card-body " style="background-color:#2d2a2a">
            <div class="d-flex justify-content-center mt-3 ">
                <div class="card-body bg-white text-center" style="background-color:#1e1e1d">

                    <img src="https://yata-apix-e21b1301-db40-4feb-8160-30b6e9cf49f5.s3-object.locaweb.com.br/bc8cfcd9f75a4b38a32b812b311cd568.png" class="img-fluid mx-auto d-block" alt="First slide">


                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock %}