

{% extends 'base.html' %}
{% load static %}

{% block content %}


<body>
{% include 'partials/_alertas.html' %}
<div class="container text-center">
    <div class="row mt-4">




<!--<div class="container">-->
{% for banner in banners %}

    <div class="card" style="width: 10rem;">
  <img class="card-img-top" src="{{ banner.foto_banner.url }}" style="max-width: 100px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ banner.titulo }}</h5>
    <p class="card-text">{{ banner.show_id }}</p>
      {% if user.is_authenticated %}

            <form action="{% url 'adicionar_nome_lista' %}" method="POST" >
                {% csrf_token %}

            <input type="hidden" name="nome" value={{ user.username }} >

            <input type="hidden" name="cpf" value={{ request.user.usuario.cpf }} >

            <input type="hidden" name="celular" value={{ request.user.usuario.celular }} >

            <input type="hidden" name="show" value={{ banner.show_id }} >
                <div class="col-12 text-center">
                    <button class="btn btn-danger mt-4" type="submit"> Nome na lista cr</button>
                </div>
            </form>
            {% else %}

            <div class="col-12 text-center">
            <a href="http://127.0.0.1:8000/registronomelista/{{ banner.show_id }} "> <button class="btn btn-danger mt-4"  > Nome na lista sr</button>  </a>
            </div>

        {% endif %}
  </div>
</div>




<!--<div class="row md-4">-->
<!--<img src="{{ banner.foto_banner.url }}" style="max-width: 100px"><br>-->

<!--        <h2>{{ banner.titulo }} {{ banner.show_id }}</h2><br>-->

<!--            {% if user.is_authenticated %}-->

<!--            <form action="{% url 'adicionar_nome_lista' %}" method="POST" >-->
<!--                {% csrf_token %}-->

<!--            <input type="hidden" name="nome" value={{ user.username }} >-->

<!--            <input type="hidden" name="cpf" value={{ request.user.usuario.cpf }} >-->

<!--            <input type="hidden" name="celular" value={{ request.user.usuario.celular }} >-->

<!--            <input type="hidden" name="show" value={{ banner.show_id }} >-->
<!--                <div class="col-12 text-center">-->
<!--                    <button class="btn btn-danger mt-4" type="submit"> Nome na lista</button>-->
<!--                </div>-->
<!--            </form>-->
<!--            {% else %}-->
<!--            <a href="http://127.0.0.1:8000/registronomelista/{{ banner.show_id }} "> <button class="btn btn-danger mt-4"  > Nome na lista</button>  </a>-->
<!--            </div>-->

<!--    22222222222222222222-->

<!--         <div class="container">-->
<!--              <div class="container">-->
<!--        <div class="row mx-md-n5">-->
<!--            <div class="col-12">-->
<!--                <div class="section-heading">-->
<!--                    <h2>Lista Show</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div >-->

<!--        <div class="row mx-md-n5">-->
<!--            <div class="col-12">-->
<!--                <div class="contact-form-area">-->
<!--                    <form action="{% url 'adicionar_nome_lista' %}" method="POST" >-->
<!--                        {% csrf_token %}-->
<!--                        <div class="row">-->
<!--                            <div class="col-12 col-lg-12">-->
<!--                                <label for="nome"><b>Nome completo</b></label>-->
<!--                                <input type="text" class="form-control" name="nome" placeholder="Ex.:Andre Geraseev" required>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-lg-6">-->
<!--                                <label  for="cpf"><b>cpf</b></label>-->
<!--                                <input  type="text" class="form-control" name="cpf" placeholder="Digite seu CPF"  required>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-lg-6">-->
<!--                                <label for="celular"><b>celular</b></label>-->
<!--                                <input type="text" class="form-control" name="celular" placeholder="Digite seu celular" required>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-lg-6">-->
<!--                                <laber for= "show"></laber><b>show</b></label>-->
<!--                                <input type="hidden" name="show" value={{ banner.show_id }} >-->
<!--                            </div>-->
<!--                            <div class="col-12 text-center">-->
<!--                                <button class="btn btn-danger mt-4" type="submit"> Nome na lista</button>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div></div>-->
<!--    {% endif %}-->
            {% endfor %}
</div>




<!--   </div>-->
<!--</div>-->
{% endblock %}
</body>

</html>