{% extends 'base.html' %}
{% load static %}

{% block content %}




<body>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<!-- Optional theme -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>





<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.table2excel.min.js"></script>

{% for nome_na_lista in show %}
<div class="container mt-4">
<div class="row header" style="text-align:center;color:black">
<div class="col-md-4 text-left"> <button id="export" class="btn btn-primary">Export</button> </div>


<h1 class="col-md-4 text-center">{{ nome_na_lista.titulo_show }}</h1>
    {{ nome_na_lista.roqueiro.cpf }}

</div>
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Celular</th>
                <th>Pagamento</th>
                <th>Comprovante</th>
                <th>Confirmar</th>

            </tr>
        </thead>
        <tbody>
            {% for area in pessoas.all %}
                                    <tr>
                                        <td> {% if area.roqueiro == None %} {{ area.sem_registro.usuario_sem_registro }}  {% else %}  {{ area.roqueiro.usuario }} {% endif %}</td>
                                        <td>{{ area.roqueiro.cpf }}  {{ area.sem_registro.cpf_sem_registro }}</td>
                                        <td>{{ area.roqueiro.celular }} {{ area.sem_registro.celular_sem_registro }}</td>
                                        {% if area.pagamento %}
                                        <td><label class="badge badge-success">PAGO</label></td>
                                        {% else %}
                                        <td><label class="badge badge-danger">SEM PAGAMENTO</label></td>
                                        {% endif %}
                                        {% if area.comprovante %}
                                        <td><a href="{% url 'comprovante' %}/{{ area.id }}"> <button class="btn btn-primary"> comprovante </button>  </a></td>
                                        {% else %}
                                        <td> <label class="badge badge-danger"  > sem comprovante </label></td>
                                        {% endif %}
                                        <form action="{% url 'lista' %}" method="POST" >
                                         {% csrf_token %}
                                         <input type="hidden" name="id" value={{ area.id }} >
                                            <input type="hidden" name="show" value={{ nome_na_lista.id }} >
                                        <td> <button class="btn btn-danger" type="submit"> confima</button></td>
                                            </form>
                                    </tr>
            {% endfor %}


        </tbody>
        <tfoot>
            <tr>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Celular</th>
                <th>Pagamento</th>
                <th>Comprovante</th>
                <th>Confirmar</th>
            </tr>
        </tfoot>
    </table>
    </div>
{% endfor %}
 <script>

      /* Initialization of datatables */
      $(document).ready(function () {

        // Paging and other information are
        // disabled if required, set to true
        var myTable = $("#example").DataTable({
          paging: true,
          searching: true,
          info: false,
        });

        // 2d array is converted to 1D array
        // structure the actions are
        // implemented on EACH column
        myTable
          .columns(3)
          .flatten()
          .each(function (colID) {

            // Create the select list in the
            // header column header
            // On change of the list values,
            // perform search operation
            var mySelectList = $("<select />")
              .appendTo(myTable.column(3).header())
              .on("change", function () {
                myTable.column(3).search($(this).val());

                // update the changes using draw() method
                myTable.column(colID).draw();
              });

            // Get the search cached data for the
            // first column add to the select list
            // usinh append() method
            // sort the data to display to user
            // all steps are done for EACH column
            myTable
              .column(3)
              .cache("search")
              .sort()
              .each(function (param) {
                mySelectList.append(
                  $('<option value="' + param + '">'
                    + param + "</option>")
                );
              });
          });
      });
  </script>


<script>
$(function() {
        $("#export").click(function(e){
          var table = $("#example");
          if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "ListaEntrada" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });

      });

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock %}
<!--            FIM TABELA-->











</body>

