

{% extends 'base.html' %}
{% load static %}

{% block content %}


<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">


            {% for nome_na_lista in show %}
            Show: {{ nome_na_lista.titulo_show }}
            <a href="{% url 'lista' %}/{{ nome_na_lista.id }} " > {{ nome_na_lista.titulo_show }} </a><br/>


{% endfor %}



        </div>
    </div>
</div>



{% for shows in show %}
Showid: {{ shows.id }}<br>
Show Nome: {{ shows.titulo_show }}<br>
   {% for lala in shows.lista_reserva_sr.all %}
Nome lista id: {{ lala.id }}<br>

cpf lista {{ lala.cpf }}<br>
{% endfor %}
{% endfor %}
{% endblock %}
</body>

</html>