{% extends 'base.html' %}
{% load static %}

{% block content %}


<body>





<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
{% include 'partials/_alertas.html' %}
{% for banner in banners %}
<img src="{{ banner.foto_banner.url }}" style="max-width: 100px">
            <p>{{ banner.titulo }} {{ banner.show_id }}</p>


         <div class="container">
              <div class="container">
        <div class="row mx-md-n5">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Lista Show</h2>
                </div>
            </div>
        </div >

        <div class="row mx-md-n5">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'adicionar_nome_lista' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="nome"><b>Nome completo</b></label>
                                <input type="text" class="form-control" name="nome" placeholder="Ex.:Andre Geraseev" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label  for="cpf"><b>cpf</b></label>
                                <input  type="text" class="form-control" name="cpf" placeholder="Digite seu CPF"  required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="celular"><b>celular</b></label>
                                <input type="text" class="form-control" name="celular" placeholder="Digite seu celular" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <laber for= "show"></laber><b>show</b></label>
                                <input type="hidden" name="show" value={{ banner.show_id }} >
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-danger mt-4" type="submit"> Nome na lista</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div></div>

            {% endfor %}

            <p></p>


        </div>
    </div>
</div>
{% endblock %}
</body>

</html>